In [1]:
import pandas as pd
import numpy as np
import difflib

In [2]:
names = pd.read_csv("bc_liquor_establishment_locations.csv")
names

,licence number,establishment name,location address line 1,location address line 2,location address city,location postal code,licence type,licence sub type,capacity
0,307941,Noodlebox/Meat and Bread/Good Taco,2455 West Railway Ave,NaN,ABBOTSFORD,V2S2E3,Food Primary,NaN,100.0
1,304406,"""Cuckoo"" Trattoria Pizzeria",2310 Alberni Hwy,NaN,COOMBS,V0R1M0,Food Primary,NaN,666.0
2,300413,#12 (Vancouver) Service Batalion,5500 No. 4 Rd,NaN,RICHMOND,V6X3L5,Liquor Primary,NaN,210.0
3,184229,#9 RESTAURANT,812 5300 NO 3 RD,NaN,RICHMOND,V6X2X9,Food Primary,NaN,189.0
4,307820,'Lil Chef Bistro,40365 Tantalus Rd,NaN,SQUAMISH,V0N1T0,Food Primary,NaN,35.0
...,...,...,...,...,...,...,...,...,...
10219,302172,"the Bear, the Fish, the Root & the Berry",1200 Rancher Creek Road,NaN,OSOYOOS,V0H1V6,Food Primary,NaN,2786.0
10220,306325,the FSH,101 - 1405 St. Paul St.,NaN,KELOWNA,V1Y2E4,Food Primary,NaN,88.0
10221,117194,their there,2042 4th Ave W,NaN,VANCOUVER,V6J1M9,Food Primary,NaN,76.0
10222,307034,twig & buoy,1-321 FERNWOOD RD,NaN,SALT SPRING ISLAND,V8K1C3,Food Primary,NaN,78.0
10223,306100,vinAmite Cellars Inc.,5381 Highway 97,NaN,OLIVER,V0H1T1,Manufacturer,Winery,0.0

In [3]:
amenities = pd.read_json("food-aminities-vancouver.json", lines=True)
amenities

,lat,lon,timestamp,amenity,name,tags
0,49.185144,-123.130217,2019-09-13T13:57:04.000-07:00,restaurant,0755 Restaurant & Lounge,"{'addr:housenumber': '3779', 'addr:street': 'S..."
1,49.193752,-123.121261,2019-11-03T06:42:12.000-08:00,cafe,1029 Cafe,{}
2,49.281603,-123.132898,2016-02-14T21:02:33.000-08:00,bar,1181,"{'addr:housenumber': '1181', 'website': 'http:..."
3,49.260301,-123.096684,2018-07-28T05:32:51.000-07:00,pub,12 Kings Pub,{'opening_hours': 'Su-Th 12:00-01:00; Fr-Sa 12...
4,49.284169,-123.107343,2019-09-13T13:57:04.000-07:00,bar,131 Water Kitchen & Bar,"{'addr:housenumber': '131', 'addr:street': 'Wa..."
...,...,...,...,...,...,...
5080,49.059230,-122.492277,2019-01-19T14:23:56.000-08:00,fast_food,strEATS Aldergrove,"{'addr:housenumber': '26426', 'website': 'http..."
5081,49.230169,-123.004036,2018-04-22T05:38:38.000-07:00,restaurant,trattoria Burnaby,"{'cuisine': 'italian', 'name:en': 'trattoria B..."
5082,49.249358,-122.867573,2020-06-08T18:27:04.000-07:00,restaurant,yoko sushi,"{'addr:province': 'B.C.', 'addr:housenumber': ..."
5083,49.272419,-123.134633,2020-02-27T21:56:22.000-08:00,cafe,à la mode,{'indoor': 'yes'}
5084,49.180830,-123.134178,2017-07-14T12:45:12.000-07:00,fast_food,敘香園,{'name:en': '敘香園'}

In [4]:
amenities['closest_name'] = amenities['name'].apply(lambda title: difflib.get_close_matches(title, names['establishment name'].values, 1, .85))
amenities

,lat,lon,timestamp,amenity,name,tags,closest_name
0,49.185144,-123.130217,2019-09-13T13:57:04.000-07:00,restaurant,0755 Restaurant & Lounge,"{'addr:housenumber': '3779', 'addr:street': 'S...",[0755 Restaurant & Lounge]
1,49.193752,-123.121261,2019-11-03T06:42:12.000-08:00,cafe,1029 Cafe,{},[]
2,49.281603,-123.132898,2016-02-14T21:02:33.000-08:00,bar,1181,"{'addr:housenumber': '1181', 'website': 'http:...",[1181]
3,49.260301,-123.096684,2018-07-28T05:32:51.000-07:00,pub,12 Kings Pub,{'opening_hours': 'Su-Th 12:00-01:00; Fr-Sa 12...,[]
4,49.284169,-123.107343,2019-09-13T13:57:04.000-07:00,bar,131 Water Kitchen & Bar,"{'addr:housenumber': '131', 'addr:street': 'Wa...",[Haven Kitchen & Bar ]
...,...,...,...,...,...,...,...
5080,49.059230,-122.492277,2019-01-19T14:23:56.000-08:00,fast_food,strEATS Aldergrove,"{'addr:housenumber': '26426', 'website': 'http...",[]
5081,49.230169,-123.004036,2018-04-22T05:38:38.000-07:00,restaurant,trattoria Burnaby,"{'cuisine': 'italian', 'name:en': 'trattoria B...",[]
5082,49.249358,-122.867573,2020-06-08T18:27:04.000-07:00,restaurant,yoko sushi,"{'addr:province': 'B.C.', 'addr:housenumber': ...",[Yoko Sushi]
5083,49.272419,-123.134633,2020-02-27T21:56:22.000-08:00,cafe,à la mode,{'indoor': 'yes'},[]
5084,49.180830,-123.134178,2017-07-14T12:45:12.000-07:00,fast_food,敘香園,{'name:en': '敘香園'},[]

In [5]:
amenities['closest_name'] = amenities['closest_name'].apply(lambda title: ''.join(title)) 
alco = amenities[amenities['closest_name'] != '']
alco

,lat,lon,timestamp,amenity,name,tags,closest_name
0,49.185144,-123.130217,2019-09-13T13:57:04.000-07:00,restaurant,0755 Restaurant & Lounge,"{'addr:housenumber': '3779', 'addr:street': 'S...",0755 Restaurant & Lounge
2,49.281603,-123.132898,2016-02-14T21:02:33.000-08:00,bar,1181,"{'addr:housenumber': '1181', 'website': 'http:...",1181
4,49.284169,-123.107343,2019-09-13T13:57:04.000-07:00,bar,131 Water Kitchen & Bar,"{'addr:housenumber': '131', 'addr:street': 'Wa...",Haven Kitchen & Bar
5,49.256999,-123.127023,2019-05-04T04:43:01.000-07:00,cafe,16th Avenue Cafe,{'opening_hours': 'Mo-Fr 06:00-22:00; Sa-Su 07...,1st Avenue Tavern
9,49.284010,-123.113580,2015-10-17T02:29:04.000-07:00,fast_food,2001 Flavors,"{'addr:housenumber': '595', 'addr:street': 'We...",Flavours
...,...,...,...,...,...,...,...
5071,49.171467,-122.578285,2020-05-06T03:38:34.000-07:00,cafe,lelem' Arts & Cultureal Cafe,"{'addr:province': 'BC', 'addr:housenumber': '2...",Lelum Arts and Cultural Cafe
5072,49.326304,-123.143966,2020-05-29T04:38:32.000-07:00,restaurant,milestones,{'cuisine': 'regional'},Milestones
5074,49.049639,-122.290534,2019-08-07T01:30:54.000-07:00,restaurant,nine downtown kitchen lounge,"{'addr:housenumber': '2625', 'website': 'https...",nine. Downtown Kitchen & Lounge
5077,49.231307,-122.893213,2012-04-09T00:03:55.000-07:00,fast_food,panago,{'cuisine': 'pizza'},Espana
5082,49.249358,-122.867573,2020-06-08T18:27:04.000-07:00,restaurant,yoko sushi,"{'addr:province': 'B.C.', 'addr:housenumber': ...",Yoko Sushi

In [6]:
alco.to_json('alcohol-licensed-vancouver.json', orient='records', lines=True)

In [7]:
non_alco = amenities[amenities['closest_name'] == '']
non_alco = non_alco.sort_values(by=['amenity'])
non_alco

,lat,lon,timestamp,amenity,name,tags,closest_name
354,49.186086,-122.847925,2019-06-25T02:51:54.000-07:00,bar,Big Orange,{'name:en': 'Big Orange'},
3507,49.037590,-122.334929,2019-11-27T22:30:47.000-08:00,bar,Signature Sports Bistro,{},
2683,49.252992,-122.733207,2019-11-03T17:31:53.000-08:00,bar,Northpaw Tasting Room,"{'addr:housenumber': '570', 'website': 'https:...",
976,49.189893,-122.803647,2017-03-21T05:02:53.000-07:00,bar,Cupcakes,{'name:en': 'Cupcakes'},
542,49.228459,-123.004995,2017-03-22T04:32:40.000-07:00,bar,Bubble Waffle,"{'addr:housenumber': '2111', 'name:en': 'Bubbl...",
...,...,...,...,...,...,...,...
1260,49.264856,-123.108608,2019-09-13T13:57:05.000-07:00,restaurant,Emelle's Westside Kitchen,"{'addr:housenumber': '177', 'website': 'https:...",
1259,49.134029,-122.324010,2019-05-19T16:24:30.000-07:00,restaurant,Embers BBQ House,"{'cuisine': 'barbecue', 'addr:housenumber': '3...",
1253,49.275919,-123.121378,2019-09-13T13:57:07.000-07:00,restaurant,Elisa Wood-Fired Grill,"{'addr:housenumber': '1109', 'website': 'https...",
1291,49.272272,-123.069320,2019-09-02T22:08:25.000-07:00,restaurant,Famoso,"{'addr:housenumber': '1380', 'website': 'https...",
1371,49.169773,-122.578163,2019-09-13T13:57:07.000-07:00,restaurant,Fortitude,"{'addr:housenumber': '9220', 'website': 'https...",

In [8]:
non_alco.to_json('no-alcohol-licensed-vancouver.json', orient='records', lines=True)

In [9]:
licenseless_bar_pub = non_alco[(non_alco['amenity'] == 'pub') | (non_alco['amenity'] == 'bar')]
licenseless_bar_pub.to_json('licenseless-bar-pub-vancouver.json', orient='records', lines=True)